@font-face {
    font-family: "Krona One";
    src: url("Krona_One/KronaOne-Regular.ttf");
}

button a{
    text-decoration: none;
    color: white;
}
.container{
    background-color: rgb(213, 231, 225); 
}
.head{
    /* font-size: 82px; */
    background: -webkit-linear-gradient(#57dd0a, #f7abab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: "Krona One";
}

.own-card{
    padding: 30px 20px 10px 0px;
}
.own-cards :hover{
    cursor: pointer;
}

.own-card2{
    padding-top: 20px;
}
.headline{
    color: rgb(98, 97, 97);
}
/* Instruction page */

.inst-head{
    color: #41a408;
    padding-left: 20px;
}
ol{
    list-style-type: none;
}
.back-btn{
    padding-left: 45px !important;
    padding-right: 45px !important;
}


@media screen and (max-width:767px) {
    .back-btn{
       width: 100%;
    }
    .welcome img{
        width: 100% !important;
    }
}