@font-face {
    font-family: "Krona One";
    src: url("Krona_One/KronaOne-Regular.ttf");
}

button a{
    text-decoration: none;
    color: white;
}
.container{
    background-color: rgb(213, 231, 225);
}
.head{
    font-size: 72px;
    background: -webkit-linear-gradient(#57dd0a, #f7abab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: "Krona One";
}

.card{
    padding: 30px 20px 10px 0px;
}
.card :hover{
    cursor: pointer;
}